@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 99%;
    --foreground: 240 6% 10%;
    --card: 240 10% 99%;
    --card-foreground: 240 6% 10%;
    --popover: 240 10% 99%;
    --popover-foreground: 240 6% 10%;
    --primary: 222 47% 11%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 240 5% 96%;
    --accent-foreground: 240 6% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 240 6% 10%;
    --radius: 1rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 6% 10%;
    --secondary: 0 0% 10%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 10%;
    --muted-foreground: 0 0% 63%;
    --accent: 0 0% 10%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 0 0% 83%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-light;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }
}

@layer components {
  .nav-link {
    @apply relative;
  }
  .nav-link::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: hsl(var(--primary));
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .multicolor-shadow {
    box-shadow:
      0 0 20px rgba(81, 137, 246, 0.2),
      /* Light Blue */ 0 0 30px rgba(135, 81, 246, 0.15),
      /* Purple */ 0 0 40px rgba(246, 81, 169, 0.1); /* Pink */
  }

  .dark .multicolor-shadow {
    box-shadow:
      0 0 20px rgba(81, 137, 246, 0.25),
      /* Brighter Light Blue */ 0 0 35px rgba(135, 81, 246, 0.2),
      /* Brighter Purple */ 0 0 50px rgba(246, 81, 169, 0.15); /* Brighter Pink */
  }

  .shimmer {
    background: linear-gradient(
      -45deg,
      hsl(var(--muted)) 40%,
      hsl(var(--secondary)) 50%,
      hsl(var(--muted)) 60%
    );
    background-size: 300% 100%;
    animation: shimmer 2.5s infinite linear;
  }

  @keyframes shimmer {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: -100% 50%;
    }
  }
}
